
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font: 1em/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.3em;
}

header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url(../img/bg1.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 14em;
  bottom: 11em;
  z-index: 1;
}
header h1, header h2 {
  margin: 0;
}
header h2 {
  text-transform: uppercase;
  margin-top: -.5em;
}
header hgroup {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  border: 5px solid #fff;
  padding: .5em 3em;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:#333 center no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0;  -webkit-filter: blur(10px);
}

/*NAVIGATION BAR*/
.logo{
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  font-family: Montserrat;
}

nav .wrapper .logo{
  padding-left: 6%;
}


nav{
  position: fixed;
  width: 100%;
  z-index: 10;
}


nav ul {
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  color: #fff;
  padding-left: 20%;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul{
  background-color: #000;
}

nav ul li{
  display: inline-block;
  padding: 20px;
  font-family: Montserrat;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

nav ul li a:hover,
nav ul li a:focus{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.active{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border-bottom: 2px solid #fff;
}

@media(max-width: 580px;){
  .logo{
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul{
    max-height: 0px;
    background-color: #000;
  }

  nav.black ul{
    background-color: #000;
  }

  .showing{
    max-height: 20em;
  }

  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }
}
 /*.site {
  z-index: 10;
  text-align: center;
  background-color: #efefef;
  font-size: .8em;
  color: #444;
  position:relative;
}

.site a {
  color: #666;
  text-decoration: none;
}
.site a:hover {
  color: #222;
}

.site nav{
  position:absolute;
  top:0;
  left:0;
  background:#222;
  width:100%;
  opacity: 0.8;
  border-radius: 0;
}
.site nav a{
  padding:10px 30px;
  font-size:1.3em;
  display:inline-block
}
.site nav a:hover{
  background:#333;
  color:#fff
}*/

/* INTRO EFFECT */
.scale.intro {
  /* Force hardware acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: cd-scale-in 0.6s 0.3s both;
  -moz-animation: cd-scale-in 0.6s 0.3s both;
  animation: cd-scale-in 0.6s 0.3s both;
}

@-webkit-keyframes cd-scale-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-scale-in {
  0% {
    opacity: 0;
    -moz-transform: scale(3);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes cd-scale-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

/*ABOUT US*/

.about{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #EAEDED;
}

.mission{
  text-align: center; 
  font-size: 26px;
  font-weight: bold;
}
hr{
  height: 50px;
  color: red;
}
.mcontent{
  font-size: 12px;
}
.box{
  margin-left: 5%;
  padding-top: 10px;
  height: 470px;
  width: 380px;
  background-color: #212121;
}

.box2{
  margin-left: 10px;
  padding-top: 40px;
  height: 500px;
  width: 370px;
  background-color: #F8F9F9;
  text-align: center;
  color: #000;
  box-shadow: 10px 10px 5px grey;
}

.box2 > p {
  width: 80%;
  margin-left: 2em;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  font-family: Raleway;
  color: #7F8C8D;
}

.box2 > img{
  height: 45px;
  width: 65%;
  float: center;
}

/*SERVICES*/
.services {
  position: relative;
  overflow: hidden;
  background: url(../img/bg2.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.item{
  height: 750px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding-top: 90px;
  padding-bottom: 20px;
}

.platforms img{
  width: 25%;
  height: 25%;
}

.offers{
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
  width: 250px;
  padding: 15px 10px 15px 10px;
}

.offers img{
  width: 30%;
  height: 150%;
}
/*PRODUCTS*/
.products{
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #EAEDED;
}

.products img{
  height: 10%;
  width: 20%;
}

.pbox{
  background: transparent;
  border-style: solid;
  border-color: #D6DBDF;
  border-width: 2px;
  padding-top: 15px;
  padding-bottom: 25px;
  text-align: center;
}

.pbox img{
  float: center;
  max-width: 10%;
  height: auto;
}

.pbox > ul > li {
  list-style: none;
  font-family: Raleway;
  font-size: 15px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle a{
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  font-family: Raleway;
  padding: 16px 32px;
}

.pbox:hover  {
  background-color: rgba(0,0,0,0.4);
}

.pbox:hover .middle {
  opacity: 1;
}

.expertise{
  position: relative;
  overflow: hidden;
  background: url(../img/bg4.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.blackoverlay{
  height: 700px;
  width:40%;
  float: left;
  background-color: rgba(0,0,0,0.8);
}

.banner{
  margin-top: 7%;
  right: 50px;
  background-color: #fff;
  height: 550px;
  width: 70%;
  position: absolute;
}

.title{
  font-family: Montserrat;
  font-size: 30px;
  position: absolute;
  margin-top: 10%;
  margin-left: 5%;
  color: #B2BABB;
}
/*html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}*/

/*#header {
  height: 700px;
  background-image: url('../img/bg1.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}*/

/*#header{
  height: 100vh;
}

#header > img {
  max-width: 100%;
  height: auto;
  position: fixed;
  z-index: 1;
  padding-left: 0px;
  margin-left: 0px;
}

.content{
  height: 100vh;
  z-index: 10;
  position: relative;
  background-color: #fff;
}

.content > .navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  border-radius: 0;
}

.content > .navbar > ul > li{
  list-style: none;
  display: inline;
  float: right;
}*/
